@using DoctorsOffice.Models
@model DoctorsOffice.Doctor

@if (SUser.Instance.GetInstance().Id == 0)
{
    TempData["message"] = "Please login or register in order to access the page";
    Response.Redirect("~/UserAccess/Login/");
}

<h2>Welcome Doctor @SUser.Instance.GetInstance().LastName !</h2>
<h4>Please select your new speciality and click submit</h4>
@{
    using (Html.BeginForm("DocSubmitProf", "Doctor"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group">
                <label for="Speciality" class="control-label col-md-2">Doctor's Profession</label>
                <select id="Speciality" name="Speciality">
                    <option value="pathologos">Παθολόγος</option>
                    <option value="ofthalmiatros">Οφθαλμίατρος </option>
                    <option value="orthopedikos">Ορθοπεδικός</option>
                </select>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }
}



<div>
    @Html.ActionLink("Back to Main Page", "DoctorHomePage", "Doctor")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
