@{
    ViewBag.Title = "Home Page";
}

<style>
    td, tr, th {
        text-align: center;
        padding: 15px;
    }
</style>

<h2>Welcome to the Doctor's Office</h2>
<h5 style="padding-bottom: 10px;">In order to use a user's type function you first must login !</h5>


<div>
    <table class="table">
        <tr>
            <th>
                Patient
            </th>
            <th>
                Doctor
            </th>
            <th>
                Admin
            </th>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Patient Home Page", "PatientHomePage", "Patient")
            </td>
            <td>
                @Html.ActionLink("Doctor Home Page", "DoctorHomePage", "Doctor")
            </td>
            <td>
                @Html.ActionLink("Admin Home Page", "AdminPanel", "Admin")
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Reserve an Appointment", "PatientHomePage", "Patient")
            </td>
            <td>
                @Html.ActionLink("View all appointments", "GetAppointment", "Doctor")
            </td>
            <td>
                @Html.ActionLink("Create Doctor", "CreateDoctor", "Admin")
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("See your reserved appointments", "MyAppointments", "Patient")
            </td>
            <td>
                @Html.ActionLink("Change Doctor's Profession", "DoctorRegisterProfession", "Doctor")
            </td>
            <td>
                @Html.ActionLink("Create patient", "CreatePatient", "Admin")
            </td>
        </tr>
    </table>
</div>